.loading
    position: fixed
    left: 0
    top: 0
    width: 100vw
    height: 100vh
    background-color: rgba(255, 255, 255, 0.5)
    z-index: 2000

.loadingSpin
    width: 100px
    height: 100px
    position: absolute
    top: 50%
    left: 50%
    margin-top: -50px
    margin-left: -50px
    box-sizing: border-box
    border-radius: 50%
    border-top: 5px solid white
    border-bottom: 5px solid white
    animation: spin 2s ease-in-out infinite
    overflow: visible

@keyframes spin
    0%
        transform: rotateZ(0deg)
    100%
        transform: rotateZ(360deg)